.projects-content {
  padding: 0 10em;
  margin-bottom: 8em;
}
.projects-titles {
  align-self: center;
}
.projects-img {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  background-color: rgba(0, 0, 0, 0.2);
}
.projects-img:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.first-project {
  text-align: center;
}
.first-modal {
  text-align: end; 
  padding-right: 30vw;
}
@media (max-width: 768px) {
  .projects-content {
    padding: 0em;
  }
}
