.header-style {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
}
.title-style {
  color: #ffffff;
}

@media (max-width: 768px) {
  .header-style {
    padding: 1em;
  }
}
