.img {
  border-radius: "50%";
  width: "50%";
  color: brown;
}
.co-founder-title {
  background-color: rgba(31, 102, 16, 0.3);
  text-align: center;
  padding: 0.9em;
}
.content-cofounders {
  margin-bottom: 8em;
}
.link {
  color: white;
}
.link:hover {
  color: lightblue;
}

.cofounders-text {
  text-align: center;

}
